/* color:#101730; color:#03396c; */


/* literata-regular - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/literata-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/literata-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/literata-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/literata-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/literata-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/literata-v15-latin-regular.svg#Literata') format('svg'); /* Legacy iOS */
}
/* literata-700 - latin */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/literata-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/literata-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/literata-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/literata-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/literata-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/literata-v15-latin-700.svg#Literata') format('svg'); /* Legacy iOS */
}
/* literata-italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/literata-v15-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/literata-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/literata-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/literata-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/literata-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/literata-v15-latin-italic.svg#Literata') format('svg'); /* Legacy iOS */
}
/* literata-700italic - latin */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/literata-v15-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/literata-v15-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/literata-v15-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/literata-v15-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/literata-v15-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/literata-v15-latin-700italic.svg#Literata') format('svg'); /* Legacy iOS */
}


/* Prevent flashing of responsive sandwich button on page load.  */
.no-js .top-bar { display: none; }
@media screen and (min-width: 40em) {
    .no-js .top-bar { display: block; }
    .no-js .title-bar { display: none; }
}

/* Basic colors and fonts.  */
body {
    background-color: #faf8f8;
    color: #101730;
    font-family: 'Literata', serif;
}

/* Title and top bar navigation.  */
.site-hamburger {
    position: relative;
    top: 1px;
    margin-left: 0.5rem;
    cursor: pointer;
}

.nav-bar {
    font-family: 'Literata', sans;
    text-transform: uppercase;
}

.top-bar,
.title-bar,
.nav-bar button,
.nav-bar a,
.nav-bar ul {
    background-color: #101730;
    color: #faf8f8;
    border: none;
}

.nav-bar button:hover,
.nav-bar a:hover,
{
    color: #2199e8;
}

.site-title {
    padding: 0.7rem 0.8rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
}


/* Last footer.  */
.endofpage { 
    /* background-image: url("/img/wave.png"); */
    background-color: #101730;
    height: 50px;
    background-repeat: repeat-x;
    margin-top: 3ex;
}


/* Main content.  */
main {
    margin-top: 2ex;
    max-width: 1600px;
    margin: 0 auto !important;
    float: none !important;
}

a
{
    border-bottom: 1px dotted #101730;
    border-radius: 3px;
    color: #101730;
}

a:hover,
a:focus {
    color: #2199e8;
    border-color: #2199e8; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Literata', sans;
}

h3 {
    margin-top: 10px;
}

@media screen and (min-width: 40em) {
    h1 { font-size: 1.5rem; }
    h2 { font-size: 1.25rem; }
    h3 { font-size: 1.1875rem; }
    h4 { font-size: 1.125rem; }
    h5 { font-size: 1.0625rem; }
    h6 { font-size: 1rem; }
}

/* Code highlighting: Inline code.  */
code
{
    /* For non-JS users we repeat color here.  */
    color: #101730;
    background-color: #ece8e8;
    border: none;
    margin-left: 0.0em;
}

/* Code highlighting: Code block.  */
pre > code {
    font-family: 'DejaVuSansMono', 'Courier New', 'Courier', monospace;
    background-color: transparent;
    border: none;
    overflow: auto;
    padding: 10px;
    /* font-size: 90%; */
    border-radius: 2px;
    margin-left: 2.0rem;
    white-space:pre-wrap;
}

pre {
    margin: 0 0 16px 0;
    border-left: 1px dashed #2199e8;
    padding-left: 2rem;
}

.hljs
{
    background-color: #c2c0f0;
    color: #101730;
}

.button {
    border-radius: 3px;
}

.nowrap {
    white-space: nowrap;
}

.capitalize {
    text-transform: capitalize;
}

.full-figure {
    margin: 0;
}

/* Default footer.  */
.whatisthis hr {
    border-style: solid;
    border-color: #101730;
    height: 2px;
    max-width: 100%;
}

/* Taxonomy terms page.  */
ul.taxonomy-terms {
    margin-left: 0;
    list-style-type: none;
}

.taxonomy-terms li {
    display: inline;
}

.taxonomy-terms li::after {
    content: ",";
}
.taxonomy-terms li:last-child::after {
    content: "";
}

.taxonomy-terms a
{
    border: none;
}

/* Support for other pages.  */
.pagination {
    font-size: small;
}

.pagination a {
    border: none;
    /* Mh. Is this correct? */
    padding-bottom: 1px;
}

.pagination a:hover {
    background-color: transparent;
    border-bottom: 1px dotted #2199e8;
    /* Mh. Is this correct? */
    padding-bottom: 0px;
}



/* Publication links on front page and on publication pages. */

.button.hollow.pub-link {
    font-family: 'Literata', sans;
    color: #101730;
    border: 1px dotted #101730;
    transition: none;
    padding: 0.35em 0.4em;
    margin: 0 0 0.5rem 0;
}

.button.hollow.pub-link:hover {
    border-color: #1299e8;
    color: #2199e8;
    transition: none;
}

.button.hollow.primary {
    font-family: 'Literata', sans;
    text-transform: uppercase;  
    border: 1px solid #101730;
    color: #101730;
    transition: none;
}

.button.hollow.primary:hover {
    color: #2199e8;
    border-color: #2199e8;
    transition: none;
}


/**************************************************
 *  Publications
 **************************************************/

.pub-icon {
    color: #101730;
    font-size: 0.81em;
    padding-top: 6px;
}

.pub-banner {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.pub .pub-content {
    padding-top: 1rem;
}

.pub .pub-info {
    padding-left: 0.5rem;
    border-left: 3px solid #2199e8;
}

.pub .pub-authors {
    font-style: italic;
    line-height: 30px; /* Match share bar line height. */
}

.pub .pub-row-heading {
    font-weight: bold;
}

/* Publication links */
.pub .button.hollow.primary {
    padding: 0.35em 0.4em;
    margin: 0.5rem 0;
}

/*************************************************
 *  Sharing
 **************************************************/

.share-box {
    margin-top: 3px;
    padding-right: 1rem;
}

.share-box ul.share {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.share-box ul.share li {
    display: inline-flex;
    margin-right: 5px;
}

.share-box ul.share li:last-of-type {
    margin-right: 0;
}

.share-box ul.share li .fa {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    transition: all 150ms ease-in-out;
    color: #faf8f8;
}

.share-box ul.share li a {
    display: block;
    border: 1px solid #2199e8;
    border-radius: 10%;
    background-color: #2199e8;
    text-decoration: none !important;
    margin: 0;
}

.share-box ul.share li:hover .fa {
    transform: scale(1.4);
    color: #1585cf;
}


/*************************************************
 *  Blog Posts
 **************************************************/

.post-metadata {
    color: #606090;
    margin-bottom: 1rem;
    font-size: small;
}

.post-date {
    font-style: italic;
    margin-right: 1em;
}

.post-metadata a {
    color: #606090;
    border: none;
}

.post-metadata a:hover {
    color: #2199e8;
}

.excerpt {
   margin-left: 2.5em;
   margin-right: 2.5em;
   font-style: italic;
}

.abstract {
   margin-left: 2.5em;
   margin-right: 2.5em;
   font-size: small;
   margin-bottom: 1em;
}

.main {
    padding: 2em 1em 0;
}

html,body,.container, .sideBar, .content
{
    height: 100%;
}

.container
{
    height: auto;
    overflow: hidden;
    padding: 10px;
}

p {
  margin-right: 1em;
}

.caption {
  text-align: left;
  margin-top: 0.5ex;
  margin-left: 3em;
  margin-right: 3em;
  font-size: 0.7rem;
}

.smallcaption {
  text-align: left;
  margin-top: 0.5ex;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.6rem;
  line-height: 150%;
  font-weight: 300;
}

.midcaption {
  text-align: left;
  margin-top: 0.5ex;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 300;
}

.aside {
  margin-left: 2em;
  line-height: 1.2em;
  font-size: 0.75rem;
  font-weight: 80;
  color: #888;
}

.more {
  margin-top: 1.0em;
  font-size: 0.7rem;
  margin-left: 0em;
}

.mainsection {
  text-align: center;
  background: #101730;
  color: #faf8f8;
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 1ex;
}

.sidebar
{
    background-color: #101730;
    color: #faf8f8;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 3ex;
    padding-bottom: 2em;
    min-width: 250px;
}

.sidebar a:link {
    color: #FFF;
}

.sidebar a:visited {
    color: #FFF;
}

.nogap {
   padding-bottom: 0pt;
   margin-bottom: 0pt;
}

.posttitle {
   font-size: 0.8rem;
   padding-left: 25px;
   text-indent: -25px;
}

.content
{
    margin-left: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-right: 2em;
    margin-top: 1ex;
    padding-top: 2ex;
    overflow: hidden;
    background: white;
}

.quote
{
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 1.5ex;
    margin-bottom: 1.5ex;
    overflow: hidden;
}

.groupstyle
{
    font-size: 0.7rem;
    padding-right: 4em;
    text-transform: none;
    padding-top: 0.4em;
    color: #DEE;
    line-height: 125%;
}

hr.post-separator {
   border: 3px solid #03396c;
   border-radius: 5px;
}

.mycolumn {
  float: left;
  padding-right: 12px;
  width: 50%;
}

/* Clear floats after the columns */
.myrow:after {
  content: "";
  display: table;
  clear: both;
}


.mycolumn3 {
  float: left;
  width: 33%;
  padding-right: 12px;
}

.myrow:before {
  top-margin: 0px;
  padding-top: 0px;
}

p.indent {
    text-indent: 5px;
    }

div.indented {
   margin-left: 60px;
}

div.articletext {
    margin-left: 30px;
    margin-right: 30px;
    color: #347;
}

div.credits {
   font-size: 9pt;
   text-align: right;
   padding-left: 90px;
   padding-right: 0px;
   margin-top:18pt;
   margin-bottom:12pt;
}


div.hanging {
     padding-left: 25px;
     text-indent: -25px;
}

div.hangingmore {
     padding-left: 125px;
     text-indent: -125px;
}

.img-circle {
    border-radius: 50%;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}
