{{ define "main" }}
{{ $posts_title := index .Site.Params "posts_title" | default "Posts" }}
{{ $posts_count := index .Site.Params "posts_count" | default 5 }}
{{ $pubs_title := index .Site.Params "pubs_title" | default "Publications" }}
{{ $pubs_count := index .Site.Params "pubs_count" | default 5 }}

<div class="container">
 <div>

    <div class="column small-18 medium-9">
      
    <div class="content">

    {{ range .Site.Pages }}
        {{ if eq .Type "index" }}
           {{ .Content }}
        {{ end }}
    {{ end }}
  

    <div class="mainsection">Recent Posts</div>

    {{ range first $posts_count (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
    {{ partial "post-full-summary" . }}
    {{ end }}


    <footer>
      <nav>
	<a href="/post/" class="button hollow primary">All {{ $posts_title }}</a>
      </nav>
    </footer>
   </div>
    </div>

    <div class="column small=7 medium-3">
    <div class="sidebar">
<center>                  <img src="/images/srg-logo-scaled.png" width=200 height=200 alt="SRG Logo">
      University of Virginia <br>
Security Research Group
</center>

</p>
   <p>
   <a href="/team"><b>Team</b></a></br>
   <a href="//www.cs.virginia.edu/evans/pubs"><b>Publications</b></a><br>
      <a href="/videos"><b>Videos</b></a><br>
   </p>
<p class="nogap">
     <p>
   <a href="https://teams.microsoft.com/l/team/19%3aWdkw2xYq6taXh-0OftqQdt8SQ2vyvUI_Z0ZL39APghY1%40thread.tacv2/conversations?groupId=58076b41-c835-4a07-abaa-705bc7cca101&tenantId=7b3480c7-3707-4873-8b77-e216733a65ac"><b>Join Teams Group</b></a>
   </p>

  <a href="/studygroups/"><b>Study Groups</b></a>

  <!-- <div class="posttitle">  
    <a href="/advml">Adversarial Machine Learning</a>
  </div>
  <div class="posttitle">
    <a href="/privacy">Privacy</a>
   </div></p>
-->

<p class="nogap"></p>
  <p>
   <b><a href="/post/">Recent News</a></b>
   </p>
   {{ range first 25 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
   <div class="posttitle">
      {{ partial "post-title" . }}
   </div>
   {{ end }}
<p></p>
   <div class="posttitle"><a href="/post/">Older Posts</a></div>
  <div class="posttitle"><a href="/tags">Posts by Tag</a></div>
  <div class="posttitle"><a href="/categories/">Posts by Category</a></div>
  <div class="posttitle"><a href="2017.html">Old Blog</a></div>
<p></p>
<p>
<a href="/awards/"><b>Awards</b></a>
</p>

   <p>
Director: <a href="//www.cs.virginia.edu/evans">David Evans</a>
   </p>

<p>

  </p>

<p><br></br></p>

   <p>
     <center>
       <img src="/images/uva_primary_rgb_white.png" width="80%">
       </center>
</p>

    </div>
</div>

   </div>

{{ end }}

